---
import ExternalIconLink from "@/components/ui/ExternalIconLink.astro";
import GradedListItem from "@/components/ui/GradedListItem.astro";
import IconText from "@/components/ui/IconText.astro";
import Svg from "@/components/ui/Svg.astro";
import TimeWindow from "@/components/ui/TimeWindow.astro";
import { Typography } from "@/components/ui/Typography";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Ed } from "@/lib/domain/ed";
import type { EntityByLocale } from "@/lib/types/EntityByLocale";
import type { Locale } from "@/lib/types/Locale";
import { GraduationCap } from "lucide-react";

interface Props {
  localizedEds: EntityByLocale<Ed>[] | undefined;
  locale: Locale;
}

const { localizedEds, locale }: Props = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>
      <Typography ele="h3">Education</Typography>
    </CardTitle>
  </CardHeader>
  <CardContent>
    <ul>
      {
        localizedEds?.map((ed) => {
          const localizedEd = ed[locale];

          return (
            <>
              <GradedListItem
                grade={localizedEd?.grade}
                docUrl={localizedEd?.docUrl}
              >
                <span slot="title">
                  {localizedEd?.institute}{" "}
                  {localizedEd?.url && (
                    <ExternalIconLink href={localizedEd?.url} />
                  )}
                </span>

                <div class="flex flex-col" slot="subtitle">
                  <IconText ele="muted">
                    <Svg Icon={GraduationCap} />
                    {localizedEd?.degree}
                  </IconText>
                  <TimeWindow
                    start={localizedEd?.start}
                    end={localizedEd?.end}
                    locale={locale}
                  />
                </div>
              </GradedListItem>
            </>
          );
        })
      }
    </ul>
  </CardContent>
</Card>
