---
import BulletList from "@/components/ui/BulletList.astro";
import Card from "@/components/ui/Card.astro";
import Details from "@/components/ui/Details.astro";
import ExternalIconLink from "@/components/ui/ExternalIconLink.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Svg from "@/components/ui/Svg.astro";
import TimeWindow from "@/components/ui/TimeWindow.astro";
import Typography from "@/components/ui/Typography.astro";
import { Xp } from "@/lib/domain/xp";
import { useTranslation } from "@/lib/i18n/utils";
import type { Locale } from "@/lib/types/Locale";
import { fetchCollectionQuery } from "@/lib/utils";
import Building2 from "@/svg/building-2.svg?raw";
import Telescope from "@/svg/telescope.svg?raw";

interface Props {
  locale: Locale;
}

const { locale }: Props = Astro.props;
const xps = await fetchCollectionQuery(Xp, locale);
const { t } = useTranslation(locale);
---

<Card>
  <Fragment slot="title">
    <SectionTitle title={t("experience")} svgHtml={Telescope} />
  </Fragment>
  <Fragment slot="content">
    {
      xps.map((xp) => {
        return (
          <Details isCompleted={xp?.end !== undefined} asTimeLine>
            <Typography variant="large" slot="title">
              {xp?.position}
            </Typography>
            <div
              slot="subtitle"
              class="flex flex-col lg:flex-row lg:gap-3 gap-0.5"
            >
              <Typography variant="muted">
                <Svg svgHtml={Building2} />
                {xp?.company}
                {xp?.url && <ExternalIconLink href={xp?.url} />}
              </Typography>
              <TimeWindow start={xp?.start!} end={xp?.end} locale={locale} />
            </div>
            <Fragment slot="content">
              {xp?.infoListItems && (
                <BulletList>
                  {xp?.infoListItems?.map((bullet) => (
                    <li set:html={bullet} />
                  ))}
                </BulletList>
              )}
            </Fragment>
          </Details>
        );
      })
    }
  </Fragment>
</Card>
