---
import Card from "@/components/ui/Card.astro";
import GradedListItem from "@/components/ui/GradedListItem.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Svg from "@/components/ui/Svg.astro";
import { Lang } from "@/lib/domain/lang";
import { useTranslation } from "@/lib/i18n/utils";
import type { Locale } from "@/lib/types/Locale";
import { fetchCollectionQuery } from "@/lib/utils";
import LanguagesIcon from "@/svg/languages.svg?raw";

interface Props {
  locale: Locale;
}

const { locale }: Props = Astro.props;
const langs = await fetchCollectionQuery(Lang, locale);
const { t } = useTranslation(locale);
---

<Card>
  <Fragment slot="title">
    <SectionTitle title={t("langs")} svgHtml={LanguagesIcon} />
  </Fragment>
  <Fragment slot="content">
    <ul class="flex flex-col gap-1.5">
      {
        langs?.map((lang) => {
          return (
            <GradedListItem grade={lang.level} docUrl={undefined}>
              <span slot="title">
                <Svg svgHtml={lang.svgHtml} className="w-6" />
                &hairsp;
                {lang.name}
              </span>
            </GradedListItem>
          );
        })
      }
    </ul>
  </Fragment>
</Card>
