---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import GradedListItem from "@/components/ui/GradedListItem.astro";
import IconText from "@/components/ui/IconText.astro";
import Svg from "@/components/ui/Svg.astro";
import type { Lang } from "@/lib/domain/lang";
import type { EntityByLocale } from "@/lib/types/EntityByLocale";
import type { Locale } from "@/lib/types/Locale";
import { LanguagesIcon } from "lucide-react";

interface Props {
  localizedLangs: EntityByLocale<Lang>[] | undefined;
  locale: Locale;
}

const { localizedLangs, locale }: Props = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>
      <IconText variant="h3">
        <Svg Icon={LanguagesIcon} />
        <span>Languages</span>
      </IconText>
    </CardTitle>
  </CardHeader>
  <CardContent>
    <ul>
      {
        localizedLangs?.map((lang) => {
          const localizedLang = lang[locale];

          return (
            <GradedListItem grade={localizedLang.level} docUrl={undefined}>
              <span slot="title" class="inline-flex gap-2 items-center">
                <Svg Icon={localizedLang.icon} className="w-6" />
                {localizedLang.name}
              </span>
            </GradedListItem>
          );
        })
      }
    </ul>
  </CardContent>
</Card>
