---
import Card from "@/components/ui/Card.astro";
import GradedListItem from "@/components/ui/GradedListItem.astro";
import IconText from "@/components/ui/IconText.astro";
import Svg from "@/components/ui/Svg.astro";
import type { Lang } from "@/lib/domain/lang";
import type { EntityByLocale } from "@/lib/types/EntityByLocale";
import type { Locale } from "@/lib/types/Locale";
import LanguagesIcon from "@/svg/languages.svg?raw";

interface Props {
  localizedLangs: EntityByLocale<Lang>[] | undefined;
  locale: Locale;
}

const { localizedLangs, locale }: Props = Astro.props;
---

<Card>
  <Fragment slot="title">
    <IconText variant="h3">
      <Svg svgHtml={LanguagesIcon} />
      <span>Languages</span>
    </IconText>
  </Fragment>
  <Fragment slot="content">
    <ul class="flex flex-col gap-1.5">
      {
        localizedLangs?.map((lang) => {
          const localizedLang = lang[locale];

          return (
            <GradedListItem grade={localizedLang.level} docUrl={undefined}>
              <span slot="title" class="inline-flex gap-2 items-center">
                <Svg svgHtml={localizedLang.svgHtml} className="w-6" />
                {localizedLang.name}
              </span>
            </GradedListItem>
          );
        })
      }
    </ul>
  </Fragment>
</Card>
