---
import BulletList from "@/components/ui/BulletList.astro";
import Card from "@/components/ui/Card.astro";
import Link from "@/components/ui/Link.astro";
import Svg from "@/components/ui/Svg.astro";
import Typography from "@/components/ui/Typography.astro";
import { Info } from "@/lib/domain/info";
import type { Locale } from "@/lib/types/Locale";
import { fetchCollectionQuery } from "@/lib/utils";
import Cake from "@/svg/cake.svg?raw";
import MapPin from "@/svg/map-pin.svg?raw";
import Phone from "@/svg/phone.svg?raw";
import { Image } from "astro:assets";
import i18next from "i18next";

const locale = i18next.language as Locale;
const info = (await fetchCollectionQuery(Info, locale))[0];
---

<Card contentClassName="flex flex-col gap-6">
  <Fragment slot="title">
    {
      info?.portrait && (
        <Image
          loading={"eager"}
          src={info.portrait.url}
          width={info.portrait.width}
          height={info.portrait.height}
          alt="Portrait Nico Ismaili"
          class="rounded-full mb-3 aspect-square w-40 mx-auto"
        />
      )
    }
    <Typography variant="h2">{info?.name}</Typography>
  </Fragment>
  <Fragment slot="subtitle">
    {info?.occupation}
  </Fragment>
  <Fragment slot="content">
    <div id="info" class="flex flex-col gap-2">
      <Typography variant="small">
        <Svg svgHtml={Cake} />
        &hairsp;
        {
          info?.dob.toLocaleDateString(locale, {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </Typography>
      <Typography variant="small">
        <Svg svgHtml={Phone} />
        &hairsp;
        <a href={`phone:${info?.phone}`}>
          {info?.phone}
        </a>
      </Typography>
      <Typography variant="small">
        <Svg svgHtml={MapPin} />
        &hairsp;
        {info?.address}
      </Typography>
    </div>
    <BulletList hideBullets>
      {
        info?.contacts?.map((contact) => {
          if (!contact.svgHtml) {
            return null;
          }

          return (
            <li>
              <Svg svgHtml={contact.svgHtml} className="translate-y-0.5" />
              &hairsp;
              <Link href={contact.url}>{contact.text}</Link>
            </li>
          );
        })
      }
    </BulletList>
  </Fragment>
</Card>
