---
import Card from "@/components/ui/Card.astro";
import Gauge from "@/components/ui/Gauge.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Svg from "@/components/ui/Svg.astro";
import { Skill } from "@/lib/domain/skill";
import type { Locale } from "@/lib/types/Locale";
import { fetchCollectionQuery } from "@/lib/utils";
import CPU from "@/svg/cpu.svg?raw";
import i18next, { t } from "i18next";

interface Props {
  isPrint?: boolean;
}
const { isPrint = false }: Props = Astro.props;

const locale = i18next.language as Locale;
const skills = await fetchCollectionQuery(Skill, locale);
---

<Card>
  <Fragment slot="title">
    <SectionTitle title={t("skills")} svgHtml={CPU} />
  </Fragment>
  <Fragment slot="content">
    <div
      class:list={[
        isPrint
          ? "grid grid-cols-4 gap-3"
          : "grid grid-cols-6 lg:grid-cols-4 gap-3",
      ]}
    >
      {
        skills?.map((skill) => {
          if (!skill.svgHtml) {
            return null;
          }
          return (
            <Gauge radius={21} strokeWidth={3} percentage={skill.proficiency}>
              <a
                href={skill.url}
                target="_blank"
                rel="noopener noreferrer"
                title={`${skill.proficiency}% | ${skill.name}`}
              >
                <Svg size="md" svgHtml={skill.svgHtml} />
              </a>
            </Gauge>
          );
        })
      }
    </div>
  </Fragment>
</Card>
