---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Gauge from "@/components/ui/Gauge.astro";
import IconText from "@/components/ui/IconText.astro";
import Svg from "@/components/ui/Svg.astro";

import type { Skill } from "@/lib/domain/skill";
import type { EntityByLocale } from "@/lib/types/EntityByLocale";
import type { Locale } from "@/lib/types/Locale";
import { PencilRuler } from "lucide-react";

interface Props {
  localizedSkills: EntityByLocale<Skill>[] | undefined;
  locale: Locale;
}

const { localizedSkills, locale }: Props = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>
      <IconText variant="h3">
        <Svg Icon={PencilRuler} />
        <span>Skills</span>
      </IconText>
    </CardTitle>
    <CardDescription> Tools & technologies </CardDescription>
  </CardHeader>
  <CardContent>
    <div class="grid grid-cols-6 lg:grid-cols-4 gap-3">
      {
        localizedSkills?.map((skill) => {
          const localizedSkill = skill[locale];
          if (!localizedSkill.svg) {
            return null;
          }
          return (
            <Gauge
              radius={21}
              strokeWidth={3}
              percentage={localizedSkill.proficiency}
            >
              <a
                href={localizedSkill.url}
                target="_blank"
                rel="noopener noreferrer"
                title={`${localizedSkill.proficiency}% | ${localizedSkill.name}`}
              >
                <Svg className="block w-[19px]" Icon={localizedSkill.svg} />
              </a>
            </Gauge>
          );
        })
      }
    </div>
  </CardContent>
</Card>
