---
import { CertStrapiRepo } from "@domain/cert/repo/strapi";
import { EdStrapiRepo } from "@domain/ed/repo/strapi";
import { LangStrapiRepo } from "@domain/lang/repo/strapi";
import { ProjectStrapiRepo } from "@domain/project/repo/strapi";
import { SkillStrapiRepo } from "@domain/skill/repo/strapi";
import { VolunteerStrapiRepo } from "@domain/volunteer/repo/strapi";
import { XpStrapiRepo } from "@domain/xp/repo/strapi";
import { Locale } from "@util/types/Locale";

const localizedCerts = await CertStrapiRepo.getAllLocalized();
const localizedEds = await EdStrapiRepo.getAllLocalized();
const localizedLangs = await LangStrapiRepo.getAllLocalized();
const localizedSkills = await SkillStrapiRepo.getAllLocalized();
const localizedProjects = await ProjectStrapiRepo.getAllLocalized();
const localizedVolunteers = await VolunteerStrapiRepo.getAllLocalized();
const localizedXps = await XpStrapiRepo.getAllLocalized();

const currentLocale: Locale= Object.values<string>(Locale)[0] as Locale;
---

<html lang="en" class="bg-stone-900 text-white print:h-[297mm] print:w-[210mm]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | Nico Ismaili</title>
	</head>
	<body>
		{localizedCerts.map((cert) => <div>{cert[currentLocale]?.title}</div>)}
		<br />
		{localizedEds.map((ed) => <div>{ed[currentLocale]?.degree}</div>)}
		<br />
		{localizedLangs.map((lang) => <div>{lang[currentLocale]?.name}</div>)}
		<br />
		{localizedSkills.map((skill) => <div>{skill[currentLocale]?.name}</div>)}
		<br />
		{localizedProjects.map((project) => <div>{project[currentLocale]?.title}</div>)}
		<br />
		{localizedVolunteers.map((volunteer) => <div>{volunteer[currentLocale]?.activity}</div>)}
		<br />
		{localizedXps.map((xp) => <div>{xp[currentLocale]?.position}</div>)}
	</body>
</html>